body {
    background-color:#d3d3d3;
    text-align:center;
    margin:-10px;
}

.h1 {
    font-family:"Brush Script M7", Cursive;
    font-size:72px;
    color:black;
}

.objects {
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    margin:0px;;
}

.menu {
    display:flex;
    flex-direction: column;
}

.grid {
    display:grid;
    background-color: green;
    border: 20px #222222 solid;
    border-radius: 25px;
    height:500px;
    width:500px;
}

.squareStyle {
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:white
}

button {
    align-items:center;
    justify-content:center;
    padding: 10px;
    padding-left:auto;
    padding-right:auto;
    margin:20px;
    border-radius: 10px;
    box-shadow: 3px 3px;
   
}